@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color: #003366;
    text-align: center;
    text-decoration: underline;
}

p, label, li, table {
    color: #444444;    
}
p::first-letter {
    font-size: 2em;
}
footer {
    font-size: 11px;
}
.destaque, .destaque td {
    color: #FF3300;
}